<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>NBAD</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ControllerServlet</display-name>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>myPackage.ControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>myPackage.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>myPackage.Registration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FlightSearchQuery</display-name>
		<servlet-name>FlightSearchQuery</servlet-name>
		<servlet-class>myPackage.FlightSearchQuery</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FirstSearchResult</display-name>
		<servlet-name>FirstSearchResult</servlet-name>
		<servlet-class>myPackage.FirstSearchResult</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FirstSearch</display-name>
		<servlet-name>FirstSearch</servlet-name>
		<servlet-class>myPackage.FirstSearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FlightSearchRes</display-name>
		<servlet-name>FlightSearchRes</servlet-name>
		<servlet-class>myPackage.FlightSearchRes</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>viewbook</display-name>
		<servlet-name>viewbook</servlet-name>
		<servlet-class>myPackage.viewbook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OrderPage</display-name>
		<servlet-name>OrderPage</servlet-name>
		<servlet-class>myPackage.OrderPage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConfirmationTransaction</display-name>
		<servlet-name>ConfirmationTransaction</servlet-name>
		<servlet-class>myPackage.ConfirmationTransaction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookingHistory</display-name>
		<servlet-name>BookingHistory</servlet-name>
		<servlet-class>myPackage.BookingHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>myPackage.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BankServlet</display-name>
		<servlet-name>BankServlet</servlet-name>
		<servlet-class>myPackage.BankServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Test</display-name>
		<servlet-name>Test</servlet-name>
		<servlet-class>myPackage.Test</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>History</display-name>
		<servlet-name>History</servlet-name>
		<servlet-class>myPackage.History</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/ControllerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightSearchQuery</servlet-name>
		<url-pattern>/FlightSearchQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FirstSearchResult</servlet-name>
		<url-pattern>/FirstSearchResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FirstSearch</servlet-name>
		<url-pattern>/FirstSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightSearchRes</servlet-name>
		<url-pattern>/FlightSearchRes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewbook</servlet-name>
		<url-pattern>/viewbook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderPage</servlet-name>
		<url-pattern>/OrderPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmationTransaction</servlet-name>
		<url-pattern>/ConfirmationTransaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookingHistory</servlet-name>
		<url-pattern>/BookingHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BankServlet</servlet-name>
		<url-pattern>/BankServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>History</servlet-name>
		<url-pattern>/History</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
		
	</welcome-file-list>
</web-app>
